@section scripts{
    <script>
        var urlBeneficiario = '@Url.Action("Listar", "Beneficiario", new { area = "" })';

    </script>
    @Scripts.Render("~/bundles/beneficiarioModal")
}
<div id="modal-beneficiarios" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" data-bs-dismiss="modal">×</button>
                <h4 class="modal-title">Beneficiários</h4>

            </div>
            <div class="modal-body">

                <form id="formCadastroBeneficiario" method="post">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="BeneficiarioCpf">CPF:</label>
                                <input required="required" type="text" class="form-control" id="BeneficiarioCpf" name="BeneficiarioCpf" onkeyup="mascaraCpf(this)" placeholder="000.000.000-00" maxlength="15">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="BeneficiarioNome">Nome:</label>
                                <input required="required" type="text" class="form-control" id="BeneficiarioNome" name="BeneficiarioNome" placeholder="Ex.: Maria" maxlength="50">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label> </label>
                                <button class="btn btn-sm btn-success align-bottom" id="salvarBeneficiario">Salvar</button>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->